<!-- views/students/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> 
  </head>
  <body>
    <%- include('../partials/nav') %> 
    <h1 class="animated fadeInUp">Index</h1>
    <div>
      <table>
        <thead>
          <tr>
            <th>Name</th><th>number</th><th>major</th><th>email</th><th>mac</th><th>edit</th><th>delete</th>
          </tr>
        </thead>
        <tbody>
          <% students.forEach(function(student) { %> 
          <tr>
            <td><%= student.name %></td>
            <td><%= student.number %></td>
            <td><%= student.major %></td>
            <td><%= student.email %></td>
            <td><%= student.mac %></td>
            <td><button type="button" class="table-button" onclick="location.href='/students/<%= student._id %>/edit'">수정</button></td>
            <td><form action="/students/<%= student._id %>?_method=delete" method="post"><button type="button"  class="table-button" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">삭제</button></form></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>